.main {
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	position: relative;
}

.sheet {
	width: 959px;
	height: 284px;
	position: absolute;
	top: 630px;
	left: 339px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	z-index: 1;
}

.sample {
	width: 130px;
	height: 130px;
	object-fit: contain;
	position: relative;
}